allow kernel asdf_block_device:file { read write open setattr };
allow kernel asdf_block_device:dir search;

allow kernel factory_file:dir search;
allow kernel factory_file:file { read open };
allow kernel self:capability chown;

allow kernel tmpfs:dir search;

allow kernel kcal_dev:dir relabelto;
allow kernel kcal_dev:file relabelto;
allow kernel kcal_dev:lnk_file relabelto;
